.iframe-product-container iframe{
    margin: 0 auto;
    display:block;
}

.iframe-product-container {
    overflow: hidden;
    position: relative;
}

.iframes{
    text-align:center;
}
.iframes .panel-default,.iframes .panel-footer{
    
}
.iframe-container iframe{
    border: 0;
    left: 0;
    position: absolute;
    top: 0;
    width:100% !important;
    height: 100% !important;  
    padding-left:15px; 
    padding-right:15px; 
    padding-bottom:15px;
}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.flyer{
    padding-top:10px;
    padding-bottom:15px;
    border-radius:10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px;
}

.flyer h3{
    display: inline-block;
    color:#fff;
    line-height: 1em;
}
.flyer h2{
    display: inline-block;
    color:#fff;
    line-height: 1em;
}
.flyer span{
    background-color:#fff;
    color:#652C8F;
    padding: .2em .6em .3em;
    border-radius: .25em;
    font-size: 75%;
}

.flyer .btn-primary{
    margin-top:15px;
    background-color:#3366ff;
    border-color:#3366ff;
    background-color:#E2E2E2;
    border-color:#E2E2E2;
    border-radius:7px;
    font-size:15px;
}

.flyer .btn-default{
    margin-top:15px;
    background-color:#E2E2E2;
    border-color:#E2E2E2;
    border-radius:7px;
    font-size:15px;
    color:#333;
}

.badge.badge-blue{
    background-color:#fff;
    color: #4070FA;
    padding: 8px 15px 8px 15px;
    font-size: 0.8em;
    border-radius: 25px;
    box-shadow: 0px 8px 12px rgba(64,112,250, 0.4);
}
#cardborde{
    border: #6184ff96 5px solid;
    box-shadow: 0px 8px 12px rgba(0, 114, 255, 0.6);
}
#solicitar_pago.btn-default{
    border-radius: 45px;
    background-color: #4fce5d;
    color: #fff;
    box-shadow: 0px 4px 10px rgba(79,206,93,0.4);
    margin-top: 15px;
}
#solicitar_pago.btn-default.disabled{
    border-radius: 45px;
    background-color: #f4f4f4;
    color: #4070FA;
    border-color: #ddd;
}
#boton_paypal{
    border-radius: 45px;
    background-color: #4fce5d;
    color: #fff;
    box-shadow: 0px 4px 10px rgba(79,206,93,0.4);
    margin-top: 15px;
}
.payment_btn{
}
.payment_btn.disabled{
    border-radius: 7px;
    background-color: #4070FA;
    color: #fff;
    border-color: #0f48ca;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 15px;
}

@media (max-width:768px) {
    .multiple-carousel .slick-slide{
    }
}
.multiple-carousel img{
    max-height: 50vh;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: inset 0px -40px 30px -10px;
    height: 150px;
}
.slick-prev:before, .slick-next:before{
    color:#fff !important;
}
.slick-prev {
    left: 1% !important;
    z-index: 1;
    color:#fff !important;
}
.slick-next {
    right: 1% !important;
    z-index: 1;
    color:#fff !important;
}
.modal-content{
    background-color:#000032 ;
    color:#fff;
  }
  
  .btn-primary{
    background-color:#4070FA;
    border-color:#4070FA;
    border-radius:6px;
  }
  
  .modal-header{
    border-bottom: 1px solid #000032 ;
  }
  
  .modal-footer{
    border-top: 1px solid #000032 ;
  }
  .close {
    color: #fff; 
    opacity: 1;
    font-size: 30px;
  }
#payment_card {
    background-color: transparent !important;
    background: linear-gradient(104deg, #89e840 0%, #0b9859 100%);
}
#payment_card button{
    margin: 0px 0px 15px;
}
#link_title{
    display:inline;
    padding-right: 7px;
}
.copied {
	position: absolute;
	background: #000032;
	color: #fff;
	font-weight: bold;
	z-index: 99;
	width: 100%;
    top: 0;
    left:0;
	text-align: center;
	padding: 10px;
	display: none;
	font-size: 12px;
}
#copy_btn{
    position:relative;
    z-index:5;
}