.carousel img {
    max-height: 80vh;
    object-fit: cover;
    width: 100%;
    box-shadow: inset 0px -40px 30px -10px;
}


.faded-bottom {

  

}

.faded img{
  
  width: 400px;
  height: 180px;
  box-shadow: inset 0px -40px 30px -10px rgba(0,0,0,0.75);
  
}

.slick-prev:before, .slick-next:before{
    color:#9e9e9e;
}
.slick-prev {
    left: 2%;
    z-index: 1;
}
.slick-next {
    right: 2%;
    z-index: 1;
}
body {
    overflow-x: hidden;
}

@media (max-width:575px) {
    /*  .modal-dialog {
        max-width: 50%;
    }*/
}
nav.navbar{
    margin-bottom: 0px;
}
.navbar-brand>img {
    height: 100%;
    width:auto;
  }

  .navbar-brand {
    padding: 5px 0px 5px 5px;
    display: flex;
    align-items: center;
  }
  .thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
  }
 
  .thumbnail-description {
    min-height: 40px;
  }
 
  .thumbnail:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  }

.top1{ margin-top:10px;}
.top2{ margin-top:20px;}
.top3{ margin-top:30px;}
.top4{ margin-top:40px;}

  .navbar-default {
    background-color: #2679a9;
    border-color: #3198d4;
  }
  .navbar-default .navbar-brand {
    color: #ffffff;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #e6e8e7;
  }
  .navbar-default .navbar-text {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #e6e8e7;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #2679a9;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #e6e8e7;
    background-color: #3198d4;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #3198d4;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #e6e8e7;
    background-color: #3198d4;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #e6e8e7;
    background-color: #3198d4;
  }
  .navbar-default .navbar-toggle {
    border-color: #3198d4;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #3198d4;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ffffff;
  }
  .navbar-default .navbar-link {
    color: #ffffff;
  }
  .navbar-default .navbar-link:hover {
    color: #e6e8e7;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #e6e8e7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #e6e8e7;
      background-color: #3198d4;
    }
  }

 /*  codigo para los cards de anuncios
*/

  .snip1529 {
    background-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 10px 10px;
    color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 10px;
    max-width: 310px;
    min-width: 250px;
    overflow: hidden;
    position: relative;
    text-align: left;
   
  }
  
  .snip1529 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .snip1529 img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    opacity: 0.75;
  }
  
  .snip1529 figcaption {
    padding: 25px 20px 25px;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  
  .snip1529 .date span {
    display: block;
    line-height: 14px;
  }
  
  .snip1529 .date .month {
    font-size: 11px;
  }
  
  .snip1529 h3,
  .snip1529 p {
    margin: 0;
    padding: 0;
  }
  
  .snip1529 h3 {
    font-weight: 800;
    letter-spacing: -0.4px;
  }
  
  .snip1529 .hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: rgba(236, 188, 46, 0.75);
    display: flex;
    font-size: 65px;
    justify-content: center;
    opacity: 0;
  }
  
  .snip1529 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  
  .snip1529:hover .hover,
  .snip1529.hover .hover {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    opacity: 1;
  }
  
  .snip1529:hover figcaption,
  .snip1529.hover figcaption {
    opacity: 0;
  }
  
  .snip1529:hover .date,
  .snip1529.hover .date {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  
  
 /*  sección a cerca de la empresa

*/

/* Global */


#featured{
  padding: 5.8em 2em 0;
}

.titulo{
  font-size: 50px;
  color: #eda80a;
  opacity: 0;
  transform: scaleY(1.2) translateY(80px);
  transition:  transform 4s .25s cubic-bezier(0,1,.3,1),
               opacity .3s .25s ease-out;
  will-change: transform, opacity;
}

.titulo.is-visible{
  opacity: 1;
  transform: scaleY(1) translateY(0px);
  
}

.contenedor{
  position: relative;
}

.overlay {
  position: absolute;
  border-radius: .25em;
  bottom: 0;
  left: 0; 
  background-color: #eda80a;
  width: 100%;
  height: 100%;
  transition: .5s ease;
}
.overlay.is-visible{
  width: 0;
  left: 100%;
}


.inline-photo { 
  display: block;
  width: 100%;
  height: auto;
  border-radius: .25em;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}



.test {
  width: 500px;
  height: 300px;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../../uploads/imagen3.jpg');  
  color:white;
  font-size: 28px;
  line-height: 1.5em;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  opacity: 0;
  transform: scaleY(1.2) translateY(80px);
  transition:  transform 4s .25s cubic-bezier(0,1,.3,1),
               opacity .3s .25s ease-out;
  will-change: transform, opacity;
}
.test.is-visible{
  opacity: 1;
  transform: scaleY(1) translateY(0px);
}

/* Sección del Footer */


.footer-distributed{
  background: #eda80a;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-size: normal 36px;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
#status span.status {
  display: none;
  font-weight: bold;
}
span.status.complete {
  color: green;
}
span.status.incomplete {
  color: red;
}
#status.complete span.status.complete {
  display: inline;
}
#status.incomplete span.status.incomplete {
  display: inline;
}