.carousel img {
    max-height: 50vh;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: inset 0px -40px 30px -10px;
    height: 300px;
}
.multiple-carousel img{
  max-height: 50vh;
  object-fit: cover;
  object-position: 50% 50%;
  box-shadow: inset 0px -40px 30px -10px;
  height: 150px;
}
.secvideo{
  /*background-color:#4070fa;*/
  /*background-color:#000032;*/
  background-image: linear-gradient(to bottom, rgba(0,0,100,0.8), rgba(0,0,50,1));
  margin-top: -15vh;
}

.video{
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
}

.top1{ margin-top:10px;}
.top2{ margin-top:20px;}

.top4{ margin-top:40px;}

  /*  Efecto en box con overlay y texto */
.test {
 
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../../uploads/1.jpg');  
  -webkit-box-shadow:  0 10px 10px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 8px;
  color:white;
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  opacity: 0;
  transform: scaleY(1.2) translateY(80px);
  transition:  transform 4s .25s cubic-bezier(0,1,.3,1),
               opacity .3s .25s ease-out;
  will-change: transform, opacity;
}
.test.is-visible{
  opacity: 1;
  transform: scaleY(1) translateY(0px);
}

#featured .test p{
 text-align: center;
}

  /*  Inner Shadow en imagen principal */
.box {
  position: relative;
  z-index: 0;

}
.box-shadow {
  box-shadow: 0 -50px 30px -15px #4070fa inset;
}
.box-shadow img {
  display: block;
  position: relative;
  z-index: -1;
  max-width: 100%;
  height: auto;
}


.slick-prev:before, .slick-next:before{
    color:#ffffff;
}
.slick-prev {
    left: 1% !important;
    z-index: 1;
}
.slick-next {
    right: 1% !important;
    z-index: 1;
}
body {
    overflow-x: hidden;
    background-color:#fff;
}

@media (max-width:575px) {
    /*  .modal-dialog {
        max-width: 50%;
    }*/
}
nav.navbar{
    margin-bottom: 0px;
    z-index: 1100;
}
.navbar-brand>img {
    height: 100%;
    width:auto;
  }
  .navbar-brand {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
  }
  .thumbnail-description {
    min-height: 40px;
  } 
  .thumbnail:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
  }
  .navbar-default {
    background-color: #000032;
    border-color: #000032;
  }
  .navbar-default .navbar-brand {
    color: #ffffff;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #e6e8e7;
  }
  .navbar-default .navbar-text {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #e6e8e7;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #000032;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #e6e8e7;
    background-color: #3198d4;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #3198d4;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #e6e8e7;
    background-color: #3198d4;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #e6e8e7;
    background-color: #3198d4;
  }
  .navbar-default .navbar-toggle {
    border-color: #3198d4;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #3198d4;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #1833ad;
  }
  .navbar-default .navbar-link {
    color: #ffffff;
  }
  .navbar-default .navbar-link:hover {
    color: #e6e8e7;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #e6e8e7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #e6e8e7;
      background-color: #3198d4;
    }
  }

 /*  codigo para los cards de anuncios
*/

  .snip1529 {
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.10);
    border-radius: 12px;
    color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 10px;
    overflow: hidden;
    position: relative;
    text-align: left;
    margin-top:20px;
   
  }
  
  .snip1529 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .snip1529 img {
    max-height:200px;
    width:100%; 
    object-fit: cover;
    object-position: top;
  }
  
  .snip1529 figcaption {
    padding: 25px 20px 25px;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  
  .snip1529 h3,
  .snip1529 p {
    margin: 0;
    padding: 0;
  }
  
  .snip1529 h3 {
    font-weight: 800;
    letter-spacing: -0.4px;
  }
  
  .snip1529 .hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: rgba(0, 0, 50, 0.29);
    display: flex;
    font-size: 65px;
    justify-content: center;
    opacity: 0;
  }
  
  .snip1529:hover .hover,
  .snip1529.hover .hover {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    opacity: 1;
  }
  

  
 /*  sección a cerca de la empresa

*/

/* Global */
.sectexto{
  padding-top: 20px;  
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  text-align: center
}

.sectexto .texto{
  font-size: 20px;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px; 
  opacity: 0;
  transform: scaleY(1.2) translateY(80px);
  transition:  transform 4s .25s cubic-bezier(0,1,.3,1),
               opacity .3s .25s ease-out;
  will-change: transform, opacity;
}

.sectexto .texto.is-visible{
  opacity: 1;
  transform: scaleY(1) translateY(0px);
  
}

.button1{
  background-color: #4070fa;
  border: none;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5em;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 45px;
}

#featured{
  padding: 5.8em 2em 0;
  background-color: #000032;
  color:#fff;
}

#featured p{
  text-align: justify;
  padding-top: 20px;  
}

.titulo{
  font-size: 32px;
  color: #70B3F7;
  opacity: 0;
  padding-bottom: 20px;
  transform: scaleY(1.2) translateY(80px);
  transition:  transform 4s .25s cubic-bezier(0,1,.3,1),
               opacity .3s .25s ease-out;
  will-change: transform, opacity;
}

.titulo.is-visible{
  opacity: 1;
  transform: scaleY(1) translateY(0px);
  
}

.contenedor{
  position: relative;
}

.overlay {
  position: absolute;
  border-radius: .25em;
  bottom: 0;
  left: 0; 
  background-color:#0808e37a;
  width: 100%;
  height: 100%;
  transition: .5s ease;
}
.overlay.is-visible{
  width: 0;
  left: 100%;
}


.inline-photo { 
  display: block;
  width: 100%;
  height: auto;
  border-radius: .25em;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}





/* Sección del Footer */


.footer-distributed{
  background: #0f0f48;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-size: normal 36px;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color: transparent;
	color: #ffffff;
	font-size: 20px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
    margin-bottom: 40px;
		
  }
  .footer-right{
    text-align: center;
  }
  .footer-left{
    text-align: center;
  }
  .footer-center{
    text-align: left;
  }
	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
#status span.status {
  display: none;
  font-weight: bold;
}
span.status.complete {
  color: green;
}
span.status.incomplete {
  color: red;
}
#status.complete span.status.complete {
  display: inline;
}
#status.incomplete span.status.incomplete {
  display: inline;
}
.footer-brand {
  max-width:250px;
}

.anuncios{
  background-color: #f2f2f2;
  padding-bottom:40px;
  padding-top:10px;
}
.multiple-carousel{
  background-color:white;
}

@media (max-width:768px) {
  .modal-dialog {
    width:90vw;
  }
}

.modal-content{
  background-color:#000032 ;
  color:#fff;
}

.btn-primary{
  background-color:#4070FA;
  border-color:#4070FA;
  border-radius:6px;
}

.modal-header{
  border-bottom: 1px solid #000032 ;
}

.modal-footer{
  border-top: 1px solid #000032 ;
}
.close {
  color: #fff; 
  opacity: 1;
  font-size: 30px;
}

#featured .row{
  padding-bottom: 50px;
}
.fixed-header{
  position:absolute;
  top:15vh;
  font-size: 3vw;
  z-index: 1;
  left: 37vw;
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  font-weight: 600;
}
@media all and (max-width: 960px) {
  .fixed-header{
    font-size:10vw;
    left: 9vw;
  }
}

.overlay{
  width: 100%;
  height: 100%;
  background-color:#0808e36e;
}

.picture{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50em;
  height: 35vh;
}
.modal.fade{
  margin-top:60px;

}
@media (min-width: 768px) {
	.secvideo {
		padding-bottom: 10vh;
  }
  .picture{
    height: 55vh;
  }
  .secvideo{
    display: flex;
    flex-wrap: wrap;
  }
  .secvideo [class*="col-"]{
    vertical-align: middle;
    float: none;
    display: flex;
    flex-direction: column;
    border-radius:7px;
  }
  .sectexto{
    background: linear-gradient(0deg, rgba(13,38,111,0.9248074229691877) 0%, rgba(64,112,250,0.7175245098039216) 100%);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-flow: column;
  }
  .sectexto .texto{
    font-size:1.5vw;
  }
  .button1{
    background-color:white;
    border: none;
    color:  #4070fa;
    font-size: 1vw;
  }
  #featured p{
    font-size: 1vw;
  }
}
